body{
background-color: #303641;
}

.Armas{
  background-image: url("img/fondoInv.jpg");
  position: relative;
  top: 10px;
  left: 10px;
  width: 20%;
  height: 10%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  justify-content: space-around ;
  align-content: space-around ;
}
table {
  position: relative;
  left: 10px;
  width: 200px;
  max-width: 400px;
  height: 120px;
  border-collapse: collapse;
  border: 1px solid #303641;
  margin: 50px auto;
  background: #303641;
}
th {
  background: #A5A5A5;
  color: #000000;
  height: 35px;
  width: 25%;
  font-weight: lighter;
  color: white;
  border: 1px solid #000000;
  transition: all 0.2s;
}
tr {
  border-bottom: 1px solid #cccccc;
  background-color: #303641;
  height: 35px;
}
tr:last-child {
  border-bottom: 0px;
}
td {
  border: 1px solid #000000;
  padding: 10px;
  transition: all 0.2s;
}

.btnElegir{
  margin-top: 10px;
  padding: 6px 25px;
  background: #373E4A;
  color: #ffcc00;
  font-weight: bold;
  border: 0 none;
  cursor: pointer;
  border-radius: 3px;
      margin-top: 10px;
}

.btnPuntos{
  margin-top: 10px;
  padding: 6px 25px;
  background: #373E4A;
  color: #ffcc00;
  font-weight: bold;
  border: 0 none;
  cursor: pointer;
  border-radius: 3px;
      margin-top: 30px;
}

.enlace{
  margin-top: 10px;
  padding: 6px 25px;
  background: #373E4A;
  color: #ffcc00;
  font-weight: bold;
  border: 0 none;
  cursor: pointer;
  border-radius: 3px;
      margin-top: -5px;
}
