@font-face {
  font-family: 'Permanent Marker', cursive;
  font-size: Normal;
}
body{
  background-color: #303641;
}

.datosGanados{
  position: absolute;
  top: 20%;
  left: 35%;
  height: 500px;
  width: 500px;
  font-family: 'Permanent Marker';
  color:#ffffff;
  font-size: 40px;

}

.gif-newells{
  background-color: #ffffff;
  position: absolute;
  top: 75%;
  left: 35%;
  height: 300px;
  width: 300px;
  align-items: center;

}

#imagen{
  height: 100%;
  width: 100%;
}
#coin{
  height: 40px;
  width: 40px;
}
#damage{
  height: 40px;
  width: 40px;
}
#win{
  position: relative;
  top: 0%;
  font-family: 'Permanent Marker';
  color:#FF0000;
  font-size: 100px;
}
#botonAtras{
  height: 40px;
  width: 40px;
}
#volver{
  height: 40px;
  width: 40px;
}

#levelUp{
  height: 55px;
  width: 55px;
}


header{
  position: relative;
  text-align: center;
}
