body{
  background-color: #303641;
  color: yellow;
font-family: 'arial', serif;
}

.Estrategia {
    color: white;
}

.funcionamiento {
  color: white;

}
.tiendaa{
  color: white;

}
.inventarioo{
  color: white;
}
.Subtitulo4{
  font-style: italic;
  font-weight: bold;
    font-family: 'Helvetuca','Verdana','Monaco',sans-sans-serif;
    color: yellow;
}

.Subtitulo1{
  font-style: italic;
  font-weight: bold;
    font-family: 'Helvetuca','Verdana','Monaco',sans-sans-serif;
    color: yellow;
}
.Subtitulo2{
  font-style: italic;
  font-weight: bold;
    font-family: 'Helvetuca','Verdana','Monaco',sans-sans-serif;
    color: yellow;
}
.Subtitulo3{
  font-style: italic;
  font-weight: bold;
    font-family: 'Helvetuca','Verdana','Monaco',sans-sans-serif;
    color: yellow;
}

.btnAyuda{
  margin-top: 10px;
  padding: 6px 25px;
  background: #373E4A;
  color: #ffcc00;
  font-weight: bold;
  border: 0 none;
  cursor: pointer;
  border-radius: 3px;
}
